<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportingServicesBatchUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReportingServicesBatchUpload.Properties.Settings>
            <setting name="ReportingServicesBatchUpload_ReportingServices2005WebService_ReportingService2005"
                serializeAs="String">
                <value>http://sql1/ReportServer/ReportService2005.asmx</value>
            </setting>
        </ReportingServicesBatchUpload.Properties.Settings>
    </applicationSettings>
</configuration>